################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TgBot/bin/Debug/netcoreapp3.1
/TgBot/obj
